{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "exclude": ["node_modules", "package-lock.json"]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "plugins": ["import", "react-hooks"],
  "rules": {
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "no-param-reassign": "off",
    "no-case-declarations": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
