@import url(../../common/css/common.css);

.layout {
  margin-top: 2rem;
}

.buttonBox {
  position: absolute;
  bottom: 7.5rem;
  width: 100%;
}

.baseSvg {
  width: 16.5rem;
  transform: scaleX(-1);
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(2px);
  z-index: 9;
}

.baseTimer {
  position: relative;
  height: 18.75rem;
  width: 18.75rem;
  text-align: center;
  margin: 0 auto;
}

.baseTimerCircle {
  fill: none;
  stroke: none;
}

.basePath {
  stroke-width: 0.65rem;
  stroke: var(--opacity-w-10);
}

.timerLabel {
  position: absolute;

  width: 18.75rem;
  height: 18.75rem;

  top: -1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
}

.pathRemaining {
  stroke-width: 0.65rem;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 0.3s linear all;
  stroke: var(--neutral-10);
}

.pathRed {
  stroke-width: 0.65rem;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 0.3s linear all;
  stroke: var(--secondary-50);
}

.pathBlue {
  stroke-width: 0.65rem;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 0.3s linear all;
  stroke: var(--tertiary-50);
}

.pathGreen {
  stroke-width: 0.65rem;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 0.3s linear all;
  stroke: var(--primary-50);
}

.pathBlack {
  stroke-width: 0.65rem;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 0.3s linear all;
  stroke: rgba(255, 255, 255, 0.1);
}

.targetTime {
  position: absolute;

  top: 6rem;
  font-size: 1.5rem;
  color: #626262;
}

.status {
  position: absolute;
  top: 11rem;
  font-size: 0.8rem;
  width: 10.75rem;
  height: 1rem;
  background-color: var(--opacity-w-10);
  border-radius: 26px;
  color: var(--neutral-100);
  padding: 0.3rem 0;
  line-height: 1;
}

.settingBtn {
  width: 90%;
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 2rem auto;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--neutral-10);
}

.text {
  width: 3.5rem;
  height: 1.5rem;
  color: var(--neutral-100);
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}

.target {
  color: var(--opacity-w-10);
}

.setting {
  width: 1.14rem;
  height: 1.188rem;
}

.settingBox {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.redBtn {
  width: 90%;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1rem auto 2rem auto;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--secondary-50);
}

.playBtn {
  width: 90%;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1rem auto 2rem auto;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-50);
}

.playBox {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playText {
  width: 3.5rem;
  height: 1.3rem;
  color: var(--neutral-10);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.redText {
  width: 3.5rem;
  height: 1.3rem;
  color: var(--neutral-100);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.mainTimerTime {
  width: 11.5rem;
  height: 3.938rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 2.625rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--neutral-100);
}

.restStartBtn {
  width: 45%;
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  background-color: var(--neutral-10);
  border: none;
}

.restStartBtn:active {
  filter: brightness(55%);
}

.restTime {
  width: 3rem;
  height: 1.125rem;
  flex-grow: 0;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: var(--neutral-50);
}

.restText {
  width: 3.5rem;
  height: 1.5rem;
  flex-grow: 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: var(--neutral-100);
}

.restTextBox {
  display: flex;
  flex-direction: column;
  float: left;
}

.restEndBtn {
  width: 45%;
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--tertiary-50);
}

.restEndBtn:active {
  filter: brightness(55%);
}

.savedRestTime {
  width: 4.375rem;
  height: 1.5rem;
  flex-grow: 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: var(--neutral-20);
}

.studingButtonBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3.75rem;
  margin: 1rem auto 2rem auto;
  gap: 8px;
}

.setTime {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: relative;
  top: -1.65rem;
}
