.kakaoButton {
    position: absolute;
    bottom: 3rem;
    left: calc(50% - 164px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tootip {
    position: absolute;
    bottom: 2rem;
}

.logo {
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 44.5px);
}

.background {
    background-image: url('../../common/svg/login_background.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}
