.alert {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 0.25rem 0;
}

.aboveBox {
    display: flex;
    align-items: center;
    position: relative;
    /* height: 5rem; */
    margin: 0 16px;
    padding: 3rem 0;
    @media (max-width: 1200px) {
        width: 100%;
    }
    @media (min-width: 1200px) {
        width: 1200px;
    }
}
