@import './color.css';

.quote {
    color: var(--neutral-100);
}

.quotes {
    color: var(--neutral-100);

    font-size: 1.3rem;
}

.quoteBox {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 3rem 0;
}
