.modal {
    width: 20rem;
    height: 21.5rem;
    background-color: var(--neutral-30);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 150%;
    left: calc(50% - 10rem);
}

.modal input {
    height: 50px;
    width: 100%;
}

.time {
    display: flex;
    position: relative;
}

.startBtn {
    height: 50px;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    color: var(--neutral-100);
}
