@import './color.css';

.modal {
    width: 328px;
    height: 349px;
    background-color: var(--neutral-30);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 999;
    bottom: 1rem;
    border-radius: 16px;
    left: calc(50% - 10rem);
    animation: modal-show 0.3s;
}

.setModal {
    width: 328px;
    height: 259px;
    background-color: var(--neutral-30);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 999;
    bottom: 1rem;
    border-radius: 16px;
    left: calc(50% - 10rem);
    animation: modal-show 0.3s;
}

@keyframes modal-show {
    from {
        opacity: 0;
        bottom: 0;
    }
    to {
        opacity: 1;
        bottom: 1rem;
    }
}

.modal input {
    height: 50px;
    width: 100%;
}

.time {
    display: flex;
    position: relative;
}

.startBtn {
    height: 60px;
    border-radius: 8px;
    background-color: var(--primary-50);
    border: none;
    width: 17rem;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    color: var(--neutral-100);
}

.close {
    position: absolute;
    left: 18rem;
    top: 1.6rem;
}

.endButton {
    width: 136px;
    height: 60px;
    border: none;
    background-color: var(--primary-50);
    border-radius: 8px;
    font-weight: 600;
}
.stopButton {
    width: 136px;
    height: 60px;
    border: none;
    background-color: var(--neutral-10);
    border-radius: 8px;
    font-weight: 600;
    color: var(--neutral-100);
}

.buttonBox {
    display: flex;
    gap: 10px;
}

.remainTime {
    font-size: 42px;
    color: var(--neutral-100);
    font-weight: 600;
    padding: 42px 0;
}
