input[type='radio'] {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    appearance: none;
    cursor: pointer;
    transition: border 0.5s;
}

input[type='radio']:checked {
    border: 2px double black;
}

.color1 {
    background-color: #ff8d8d;
}

.color2 {
    background-color: #ffba53;
}

.color3 {
    background-color: #ffef61;
}

.color4 {
    background-color: #b9ffa0;
}

.color5 {
    background-color: #99dee2;
}

.color6 {
    background-color: #9fb4ff;
}

.color7 {
    background-color: #b187e7;
}

.color8 {
    background-color: #e8a2d4;
}
