.selected {
  height: 3rem;
  margin: 12px 0 24px 0;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected:active {
  background-color: #ffffff10;
  border-radius: 50%;
}
